# Created by .ignore support plugin (hsz.mobi)

/target/
.idea/workspace.xml
*/node_modules/
*/*/node_modules/
*/*/*/node_modules/
/W1D4/assignment/exercise1/node_modules/
/W1D4/assignment/exercise2/node_modules/
